<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">

    <router id="admin">
        <route id="experienceis_brand" frontName="experienceis_brand">
            <module name="Experienceis_Brand"/>
        </route>
    </router>

</config>