<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!-- Map Interfaces to Concrete Classes -->
    <preference for="Experienceis\Brand\Api\Data\BrandInterface" type="Experienceis\Brand\Model\Brand"/>
    <preference for="Experienceis\Brand\Api\BrandRepositoryInterface" type="Experienceis\Brand\Model\BrandRepository"/>
    <preference for="Experienceis\Brand\Api\Data\BrandSearchResultsInterface" type="Magento\Framework\Api\SearchResults"/>

    <!-- Data Source for Admin Grid -->
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="experienceis_brand_brand_listing_data_source" xsi:type="string">Experienceis\Brand\Model\ResourceModel\Brand\Collection</item>
            </argument>
        </arguments>
    </type>

    <!-- UI Grid Data Provider Virtual Type (This fixes the SearchResult error) -->
    <virtualType name="ExperienceisBrandGridDataProvider" type="Magento\Framework\View\Element\UiComponent\DataProvider\DataProvider">
        <arguments>
            <argument name="name" xsi:type="string">experienceis_brand_brand_listing_data_source</argument>
            <argument name="primaryFieldName" xsi:type="string">brand_id</argument>
            <argument name="requestFieldName" xsi:type="string">id</argument>
            <argument name="collectionFactory" xsi:type="object">Experienceis\Brand\Model\ResourceModel\Brand\CollectionFactory</argument>
        </arguments>
    </virtualType>
</config>
